.about-section-content {
  margin-top: 9rem;
}

.about-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-pic {
  width: 200px !important;
  border-radius: 50%;
}

.intro-text-container {
  max-width: 700px;
  padding: 0rem 2rem;
}

.body-text-container {
  max-width: 900px;
  margin: 3rem auto;
}

@media screen and (max-width: 1199px) {
  .about-section-content {
    margin-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-intro {
    flex-direction: column;
    /* margin-top: 4rem; */
    align-items: center;
    justify-content: center;
  }

  .intro-text-container {
    max-width: 800px;
    margin-top: 3rem;
    padding: 0 4rem;
  }

  .body-text-container {
    max-width: 800px;
    margin: 0;
    padding: 0 4rem;
  }
}

@media screen and (max-width: 768px) {
  .about-section-content {
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  .intro-text-container {
    padding: 0 2rem;
  }

  .body-text-container {
    padding: 0 2rem;
  }
}
