/*
=============== 
Connect Section
===============
*/
.connect-section-content {
  max-width: 768px;
  margin: 3rem auto;
  margin-bottom: 0rem;
}

.connect-intro-text {
  font-weight: bold;
  font-size: 1.25rem;
}
