/*
=============== 
Hero
===============
*/

/* adding specificity to #home <header> background */
/* header { */
#home {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
  url(../../img/backgrounds/hero-bkg-beach.jpg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.hero-title {
  padding-bottom: 2rem;
}
.hero-text {
  font-size: 1rem;
  padding: 1rem;
}
.cta {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  color: var(--clr-black);
  font-weight: bold;
}
.cta:hover {
  background: transparent;
  color: white;
}
#view-projects-btn {
  margin-top: 2rem;
}
.cta-callout {
  padding-top: 1rem;
}
.cta-callout-text {
  padding-top: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 419px) {
  .cta {
    margin-top: 1rem;
  }
}
