/*
=============== 
Icons
===============
*/
.icons {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.skills-icons {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.tools-icons {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.skills-icons-container {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tools-icons-container {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-icons-title {
  display: flex;
  justify-content: center;
}

.tools-icons-title {
  display: flex;
  justify-content: center;
}

.tool-icon {
  width: 50px !important;
  padding: 0rem 2rem;
  position: relative;
}

.skill-icon {
  width: 50px !important;
  padding: 0rem 2rem;
  position: relative;
  margin: 1rem;
}

.icon-text {
  display: none;
  position: absolute;
  top: 56px;
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--clr-secondary);
}

.javascript-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/javascript-50px.png") no-repeat;
  display: inline-block;
  position: relative;
}

.javascript-icon:hover span {
  display: block;
  left: -26px;
}

.html-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/html5-50px.png") no-repeat;
  display: inline-block;
}

.html-icon:hover span {
  display: block;
  left: -1px;
}

.css-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/css3-50px.png") no-repeat;
  display: inline-block;
}

.css-icon:hover span {
  display: block;
  left: 3px;
}

.nodejs-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/nodejs-50px.png") no-repeat;
  display: inline-block;
}

.nodejs-icon:hover span {
  display: block;
  left: -6px;
}

.react-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/react-50px.png") no-repeat;
  display: inline-block;
}

.react-icon:hover span {
  display: block;
  left: 0px;
}

.git-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/git-50px.png") no-repeat;
  display: inline-block;
}

.git-icon:hover span {
  display: block;
  left: 9px;
}

.notion-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/notion-50px.png") no-repeat;
  display: inline-block;
}

.notion-icon:hover span {
  display: block;
  left: -5px;
}

.figma-icon {
  width: 50px;
  height: 50px;
  background: url("../../img/icons/figma-50px.png") no-repeat;
  display: inline-block;
}

.figma-icon:hover span {
  display: block;
  left: -2px;
  transition: var(--transition);
}

@media screen and (max-width: 768px) {
  .icons {
    flex-direction: column;
  }
}