/*
=============== 
Sections
===============
*/
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#projects,
#bio,
#connect {
  min-height: 80vh;
  height: auto;
}

/* setting projects height to auto to make room for projects menu */
#projects {
  height: auto;
}

#bio {
  background: var(--clr-white);
  padding-bottom: 1rem;
  min-height: 92vh;
  height: auto;
  /* background: linear-gradient(70deg, blue, pink); */
}
