/*
=============== 
Sections
===============
*/
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#projects,
#about,
#contact {
  height: 80vh;
}

#projects {
  height: auto;
}

#about {
  background: var(--clr-white);
}
